<!DOCTYPE html>
<html>
<head>
    <title>Buy {{ object.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.price }}</p>
    <button id="buy-button">Buy</button>
    <a href="{% url 'add_to_order' object.id %}">
      <button>Add to order</button></a>
    
    <script type="text/javascript">
      var stripe = Stripe('{{ stripe_public_key }}');
      
      var buyButton = document.getElementById('buy-button');
      
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ object.id }}/', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
        .catch(error => console.error('Error:', error));
      });
    </script>
  </body>
</html>