<!DOCTYPE html>
<html>
<head>
    <title>Order #{{ order.id }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <h1>Order #{{ order.id }}</h1>
        <h2>Items:</h2>
        <ul>
            {% for item in order.items.all %}
                <li>
                    {{ item.name }} - {{ item.price }} 
                </li>
            {% empty %}
                <li>No items</li>
            {% endfor %}
        </ul>
        <h3>Total: {{ order.total_sum }}</h3>

        {% if order.items.count > 0 %}
            <button id="buy-order-button">Pay for Order</button>
        {% endif %}

        <script type="text/javascript">
        var stripe = Stripe('{{ stripe_public_key }}');
        var buyButton = document.getElementById('buy-order-button');
        
        if (buyButton) {
            buyButton.addEventListener('click', function() {
                fetch('/buy_order/{{ order.id }}/', {method: 'GET'})
                .then(response => response.json())
                .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
                .catch(error => console.error('Error:', error));
            });
        }
        </script>
    </body>
</html>